<% if user_signed_in?%>
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>App name:</th>
        <th>App Phone:</th>
        <th>App Email:</th>
        <th colspan="2">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @crms.each do |crm| %>
        <% if crm.user == current_user %>
          <tr>
            <td><%= link_to crm.app_name, crm %></td>
            <td><%= crm.app_phone %></td>
            <td><%= crm.app_email %></td>
            <td><%= link_to "Delete", crm, data: {turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-outline-danger" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= link_to "New CRM", new_crm_path, class: "btn btn-secondary" %>
<% else %>
  <%= render "home/index" %>
<% end %>
